.weatherbg{
    background: url(https://www.accuweather.com/images/hero/4/1440x450.jpg);
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.heading{
    color:aqua;
    font-weight: 700;
    font-size: xx-large;
}
.weather-result-box{
    margin: auto;
    width: 300px;
    height: 300px;
}

.weatherIcon{
    width: 100px;
    height: 100px;
    margin-top: 2rem;
    margin: auto;
    display: block;
}
.weatherCity{
    text-align: center;
    font-size: 35px;
}
.weatherTemperature{
    font-size: 30px;
    text-align: center;
}